body {
  font-family: cursive, monospace, sans-serif;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.185);

  .custom-header {
    display: flex;
    align-items: center;
    width: 100%;

    .top-row {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      padding: 20px;
    }

    .logo-image {
      width: 80px;
      height: 60px;
      margin-right: 10px;
    }

    .title-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }

    .logo-text {
      font-size: 2.5rem;
      color: #4e8d7c;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
      font-family: "Dancing Script", cursive;
      margin: 0;
      text-decoration: none;
    }

    .login-signup-container {
      color: ivory;
      background-color: #a86c7c;
      padding: 10px 20px;
      border-radius: 25%;
    }

    .dropdown-container {
      background-color: #ff69b4 !important;
      color: white;
    }
  }
}
