@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
  font-family: "Dancing Script", cursive;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.185);

  .custom-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;

    .top-row {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      padding: 20px;
    }

    .logo-image {
      width: 80px;
      height: 60px;
      margin-right: 10px;
    }

    .title-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }

    .logo-text {
      font-size: 3rem;
      color: #4e8d7c;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
      font-family: "Dancing Script", cursive;
      margin: 0;
      text-decoration: none;
    }
    @media (min-width: 768px) {
      .logo-text {
        font-size: 4rem;
      }
    }

    .login-signup-container {
      color: ivory;
      background-color: #a86c7c;
      padding: 10px 20px;
      border-radius: 25%;
    }

    .dropdown-container {
      font-family: 'Dancing Script', cursive;
      font-size: 1.25rem;
      text-align: center;
    }
    .nav-menu {
      font-family: 'Dancing Script', cursive;
      font-size: 1.25rem;
    }
  }
}
