@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

:root {
  background-color: #f3f2da;
  --ivory: #f3f2da;
  --green: #4e8d7c;
  --darkgreen: #045762;
  --pink: #ea97ad;
  font-family: "Dancing Script", cursive;
}

#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg {
  background-image: url(/images/BackgroundDesign.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  flex: 1;
}

.random-book-container {
  border: 4px solid var(--pink);
  width: 90%;
  margin: 30px auto;
  background-image: url(/images/spotlight.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(80%);
  border-radius: 20%;
  padding: 60px;
  color: var(--ivory);
}

.random-book-container a {
  text-decoration: none;
  color: yellow;
  padding: 10px;
}

.random-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.random-card h4 {
  font-size: 1.5rem;
  color: yellow;
  margin: 6px;
}

.random-card p {
  font-size: 1.25em;
  color: yellow;
  margin-top: 0.75rem;
}

.random-book-container a:hover {
  color: var(--pink);
}

.random-book-container img {
  width: 8rem;
  border-radius: 20%;
  margin: 0.5rem 0.75rem 0.1rem 0.25rem;
  border: 2px yellow solid;
}

.random-book-container :nth-child(2) {
  text-align: center;
  align-content: center;
}

.book-spotlight {
  font-family: "Dancing Script", cursive;
  margin: 20px;
}

.custom-e-book {
  margin-top: 15px;
  display: inline-block;
}

.custom-e-book:hover {
  box-shadow: 0 0 10px rgba(255, 223, 0, 0.8);
}

.btn-request {
  letter-spacing: 1.25px;
  background-color: var(--darkgreen) !important;
}

.btn-request:hover {
  letter-spacing: 1.25px;
  background-color: var(--pink) !important;
}

@media screen and (min-width: 768px) {
  .random-book-container img {
    width: 12rem;
    margin-right: 25px; /* Adjust the width for larger screens */
  }

  .random-book-container {
    width: 50%;
  }

  .random-card h4 {
    font-size: 2rem;
  }
}

.btn-favorite-rdm {
  color: white;
  background-color: rgb(134, 65, 76);
  padding: 10px 15px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  border-radius: 50%;
}
