:root {
  background-color: #f3f2da;
  --ivory: #f3f2da;
  --green: #4e8d7c;
  --darkgreen: #045762;
  --pink: #ea97ad;
}

#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg {
  background-image: url(/images/BackgroundDesign.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  flex: 1;
}

.random-book-container {
  border: 1px solid green;
  width: 50%;
  margin: 30px auto;
  background-image: url(/images/spotlight.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(80%);
  border-radius: 20%;
  padding: 60px;
  color: var(--ivory);
}

.random-book-container a {
  text-decoration: none;
  color: yellow;
  padding: 10px;

}

.random-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.random-card h4 {
  font-size: 1.5rem;
  color: yellow;
}

.random-book-container a:hover {
  color: var(--pink);
}

.random-book-container img {
  width: 10rem;
  border-radius: 20%;
  margin: 0.5rem auto;
}

.random-book-container :nth-child(2) {
  text-align: center;
  align-content: center;
}
