.custom-link {
  text-decoration: none;
  color: black;
}

.btn-remove {
  background-color: #4e8d7c;
  color: #f3f2da;
  padding: 5px 15px;
  border-radius: 10%;
}

.btn-remove:hover {
  background-color: #ea97ad;
  color: black;
}
