@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

:root {
  background-color: #f3f2da;
  --ivory: #f3f2da;
  --green: #4e8d7c;
  --darkgreen: #045762;
  --pink: #ea97ad;
  letter-spacing: 1.25px;
}

.custom-looking-container {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  justify-content: space-evenly;
  margin: 6px;
  padding: 6px;
  
  .checkbox-label-pair {
    background-color: var(--pink);
    margin: 8px;
    padding: 5px;
    border-radius: 20%;
    color: black;
  }
}

.form-genre {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.7rem;
  margin: 6px;
  padding: 6px;
}

.genre-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 6px;
  padding: 6px;
}

.column {
  display: flex;
  flex-direction: column;
}

input[type="checkbox"] {
  margin-right: 5px;
}

label {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.checkbox-label-pair {
  display: flex;
  align-items: center;
  margin: 1px;
  padding: 1px;
}

.account-background {
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.185);
  border-radius: 50%;
  margin: 25px auto;
  color: white;
  text-align: center;
}

.container {
  margin: 25px auto;
  padding: 20px;
  line-height: 1.5;
  box-shadow: 0 20px 80px #0000002f;
  border-radius: 20%;
  width: 80%;
}

.custom-card {
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.185);
  max-width: 60%;
  margin: auto;
  padding: 20px;
  border-radius: 20%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 40px;
  background-color: var(--darkgreen);
  border-radius: 15px;
}

.single-book-container {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 20px 80px #0000002f;

  img {
    margin-bottom: 15px;
  }
}

.create-account-btn {
  padding: 5px 10px;
  margin: 20px 15px 0;
  cursor: pointer;
  background-color: var(--green);
}

.create-account-btn a {
  color: black;
  text-decoration: none;
}

.create-account-btn a:hover {
  color: white;
}

.selected-book {
  font-family: "Dancing Script", cursive;
  margin-top: 20px;
  line-height: 2.5rem;
}

.single-book-details {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.single-book-user {
  line-height: 2.5rem;
  font-family: "Dancing Script", cursive;
  box-shadow: 0 20px 80px #0000002f;
  padding: 1px 5px;
}

.max-width-border-top {
  border-top: 1px var(--darkgreen) dashed;
  width: 80%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .single-book-user {
    font-size: 2.25rem;
    line-height: 5rem;
  }

  .selected-book {
    font-size: 3rem;
    line-height: 5rem;
  }

  .single-book-details img {
    width: 225px;
  }

  .account-background {
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.185);
    border-radius: 50%;
    width: 70%;
    margin: auto;
    padding: 10%;
    color: white;
  }
}
