.container {
  max-width: 1400px;
  margin: 25px auto;
  padding: 20px;
  line-height: 1.5;
  box-shadow: 0 20px 80px #0000002f;
}

.card {
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.185);
  max-width: 60%;
  margin: auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 40px;
  background-color: var(--darkgreen);
  border-radius: 15px;
}

.single-book-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px auto;
  align-items: center;

  img {
    margin-bottom: 15px;
  }
}

.create-account-btn {
  padding: 10px 20px;
  margin: 20px 15px 0;
  cursor: pointer;
}
