.custom-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Dancing Script', cursive;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: #f8f8f8;
}
