:root {
  --ivory: #f3f2da;
  --green: #4e8d7c;
  --darkgreen: #045762;
  --pink: #ea97ad;
}

.search-results-container {
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.585);
  padding: 5px;
  margin: 5px auto;
  width: 80%;
}

.custom-search-card {
  display: flex;
  flex-direction: column;
  margin: 8px auto;
  background-color: var(--green);
  padding: 15px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.985);
  width: 80%;
  border-radius: 10%;
  border: 1px solid var(--darkgreen);
  color: var(--ivory);
}

.custom-search-card img {
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.585);
  border: 1.5px solid black;
  border-radius: 5%;

}

.btn-add-fav {
  color: var(--ivory);
  background-color: var(--darkgreen);
  border-radius: 10%;
  padding: 8px 15px;
}

.btn-add-fav:hover {
  color: var(--darkgreen);
  background-color: var(--pink);
}

@media screen and (min-width: 768px) {
  .search-results-container {
    width: 90%;
  }

  .custom-search-card {
    width: 90%;
  }
}
