:root {
  --ivory: #f3f2da;
  --green: #4e8d7c;
  --darkgreen: #045762;
  --pink: #ea97ad;
}

.search-results-container {
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.585);
  padding: 5px;
  margin: 5px auto;
  width: 80%;
}

.custom-search-card {
  display: flex;
  flex-direction: column;
  margin: 8px auto;
  background-color: var(--green);
  padding: 15px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.985);
  width: 80%;
  border-radius: 10%;
  border: 1px solid var(--darkgreen);
  color: var(--ivory);
}

.custom-search-card img {
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.585);
  border: 1.5px solid black;
  border-radius: 5%;
}

.btn-add-fav,
.return-book-button {
  color: var(--ivory);
  background-color: var(--darkgreen);
  border-radius: 10%;
  padding: 8px 15px;
}

.return-book-button:hover,
.btn-add-fav:hover {
  color: var(--darkgreen);
  background-color: var(--pink);
}

.confirmation-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: sepia(20%);
  line-height: 1.6rem;
  padding: 5px;

  .modal-title {
    text-align: center;
    font-size: cursive;
    color: rgb(104, 37, 48);
  }
  .modal-body {
    text-align: center;
    font-size: cursive;
    color: rgb(104, 37, 48);
    background-color: rgb(238, 230, 231);
    
  }
}
.btn-book-d {
  width: 60%;
  margin: auto;
}


@media screen and (min-width: 768px) {
  .search-results-container {
    width: 90%;
  }

  .custom-search-card {
    width: 90%;
  }
}
